body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	min-width: 1200px;
	overflow-x: hidden; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	white-space: nowrap;
  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.main-header {
  	background: #eeeeee;
  	margin-right: 20px;
  	margin-left: 20px;
}

.link-navigation {
	border-bottom: 2px solid #fb565a;
	padding-bottom: 7px;
}

.slider {
  	position: relative;
  	width: 1160px;
  	margin: 0 auto;
}

.slide {
  	width: 100%;
  	min-height: 420px;
  	background-repeat: no-repeat;
  	background-position: 100% 10px;
  	transition: left 0.3s ease;
}

.slider input[type="radio"] {
  	display: none;
}

.slider-controls {
  	position: absolute;
  	bottom: 95px;
  	left: 50%;
  	z-index: 10;
  	width: 200px;
  	margin-left: -100px;
  	text-align: center; 
}

.slider-controls label {
  	display: inline-block;
  	vertical-align: top;
  	width: 7px;
  	height: 7px;
  	margin: 0 3px;
  	vertical-align: top;
  	background: #ffffff;
  	border: 5px solid white;
  	border-radius: 50%;
  	cursor: pointer;
}

.slide-text {
  	width: 520px;
  	padding: 30px 0;
}

.slide-title {
  	font-weight: 700;
  	font-size: 55px;
}

.slide p {
  	font-weight: 500;
  	line-height: 22px;
  	color: #283136;
}

.slide .btn {
  	display: block;
  	width: 240px;
  	height: 30px;
  	margin-top: 46px;
  	padding: 12px 10px;
  	font-weight: 300;
  	font-size: 16px;
  	vertical-align: middle;
  	line-height: 30px;
 	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-decoration: none;
  	background: #fb565a;
  	border-radius: 3px;
}

.slide:nth-child(1) {
  	background-image: url(../img/slide1.png); 
}

.slide:nth-child(2) {
  	background-image: url(../img/slide2.png);
}

.slide:nth-child(3) {
  	background-image: url(../img/slide3.png);
}

.slide {
  	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  	display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  	display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  	background-color: #c1c1c1;
}

a {
	text-decoration: none;
	color: #000;
}

.button {
	font: inherit;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	background-color: #fb565a;
	border: none;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	background-color: #d7363b;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7363b;
}

.login-button {
	width: 219px;
	height: 50px;
	border-radius: 3px;
	margin-top: 24px;
}

.main-logo:hover {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.main-header {
	background-color: #eee;
	min-height: 135px;
	margin: 0 auto;
}

.main-navigation {
	min-height: 135px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navigation-wrapper {
	width: auto;
	min-height: 70px;
	background-color: transparent;
	margin-top: 50px;
}

.main-navigation .container {
	margin: 0;
}

.container {
  	width: 1160px;
  	margin: 0 auto;
  	padding: 0;
}

.container-1 {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	height: 0;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.site-navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	font-size: 16px;
	font-weight: 500;
	min-height: 60px;
	margin: 0;
	padding: 0;
}

.item-site-navigation {
	margin-right: 45px;
}

.item-site-navigation a:active {
	text-decoration: underline;
	color: red;
}

.user-navigation {
	display: flex;
	align-items: center;
	min-height: 70px;
	margin: 0;
	padding: 0;
	width: 120px;
}

.site-navigation .item-site-navigation a:hover {
	color: #ff535d;
}

.site-navigation .item-site-navigation a:active {
	color: #bbb;
}

.button-up {
	width: 240px;
	height: 50px;
	margin-top: 40px;
	border-radius: 3px;
}

.user-navigation {
	list-style-type: none;
	font-size: 16px;
	font-weight: 500;
}

.user-navigation .main-basket a:hover {
	color: #ff535d;
}

.user-navigation .main-basket a:active {
	color: #bbb;
}

.basket-svg {
	padding-right: 26px;
}

.features {
	margin-bottom: 34px;
}

.feature-list {
	list-style-type: none;
	min-height: 350px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.feature-item {
	min-height: 350px;
	width: 300px;
	margin-right: 100px;
}

.feature-button-one {
	width: 160px;
	height: 50px;
	border-radius: 3px;
	margin-top: 20px;
	text-transform: uppercase;
}

.feature-button-two {
	background-color: #00ca74;
	width: 160px; 
	height:50px;
	border-radius: 3px;
	margin-top: 20px;
	text-transform: uppercase;
}

.feature-button-two:hover {
	background-color: #01bc6d;
}

.feature-button-two:active {
	background-color: #00aa63;
}

.feature-button-three {
	background-color: #efc84a;
	width: 160px; 
	height:50px;
	border-radius: 3px;
	margin-top: 20px;
	text-transform: uppercase;
}

.feature-button-three:hover {
	background-color: #eab535;
}

.feature-button-three:active {
	background-color: #e6a823;
}

.orders {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.orders-item {
	margin-bottom: 38px;
}

.order-item-img {
	vertical-align: middle;
	padding-right: 5px;

}

.main-table {
	width: 360px;
	border-spacing: 5px 31px;
	margin-top: 20px;
}

.main-table .table-item {
	vertical-align: middle;
	text-align: center;
	font-size: 45px;
	padding-right: 20px;
	font-weight: 700;

}

.main-table .table-item-1 {
	vertical-align: middle;
	padding-right: 5px;
}

.main-contacts {
	margin-top: -20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.excellence {
	min-height: 380px;
	width: 660px;
}

.statistics {
	min-height: 420px;
	width: 360px;
	margin-top: 38px;
}

.illustration-4 {
	padding-top: 20px;
}

.main-brand {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-top: 44px;
	margin-bottom: 40px;
	align-items: center;
}

.main-brand .main-brand-item {
	opacity: 0.2;
}

.main-brand .main-brand-item:hover {
	opacity: 1;
}

.main-brand .main-brand-item:active {
	opacity: 0.1;
}

.map-contact {
	background-color:#fff;
	width: 320px;
	height: 310px;
	position: relative;
	left: 0;
	top: -370px;
}

.main-field-div-1-2 {
	display: flex;
	margin-left: 70px;
	margin-right: 40px;
}

.modal-show {
	display: block;
}

.modal-close {
  	position: absolute;
  	left: 590px;
  	top: 55px;
  	width: 22px;
  	height: 22px;
  	border: 0;
  	cursor: pointer;
  	background-color: #fff;
}

.modal-close::before,
.modal-close::after {
  	content: "";
  	top: 10px;
  	left: 2px;
  	position: absolute;
  	width: 19px;
  	height: 3px;
  	background-color: red;
}

.modal-close::before {
  	transform: rotate(45deg);
}

.modal-close::after {
  	transform: rotate(-45deg);
}

.feature-item-littering {
	margin-bottom: 0.2em;
}

.field-div {
	height: 35px;
	width: 245px;
	margin-top: 8px;
	border-radius: 3px;
	outline: none;
}

.field-div:hover {
	border-color: #d7dcde;
}

.field-div:focus {
	border-color: #000;
}

.field-div:invalid {
	border-color: #e74246;
	color: #e74246;
}

.field-div-div {
	margin-left: 70px;
}

.field-div-div-1 {
	height: 82px;
	width: 521px;
	margin-top: 8px;
	border-radius: 3px;
	outline: none;
}

.field-div-div-1:hover {
	border-color: #d7dcde;
}

.field-div-div-1:focus {
	border-color: #000;
}

.field-div-div-1:invalid {
	border-color: #e74246;
	color: #e74246;
}

.main-button-form {
	width: 180px;
	height: 35px;
	border-radius: 3px;
	margin-left: 70px;
	margin-top: 25px;
}

.map-contact-div-div {
	padding-top: 56px;
	margin-left: 50px;
}

.map-marker {
	position: relative;
	left: 730px;
	top: -640px;
}

.social-networks-item {
	list-style-type: none;
	border-radius: 50%;
	background-color: #e1e1e1;
	width: 78px;
	height: 78px;
	text-align: center;
	line-height: 85px;
	vertical-align: middle;
	margin-right: 20px;
}

.social-networks-item:hover {
	background-color: #e74246;
}

.social-networks-item:active {
	background-color: #d7363b;
}

.page-footer {
	display: flex;
	margin: 0 auto;
	justify-content: flex-start;
	height: 180px;
	max-width: 1160px;
}

.social-networks {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.discount {
	padding-top: 55px;
	margin-left: 140px;
}

.littering-1 {
	font-size: 55px;
}

.littering-2 {
	font-size: 45px;
	margin-top: 80px;
	margin-bottom: 0.1em;
	
}

.littering-12 {
	font-size: 45px;
	margin-bottom: 47px;
}

.littering-13 {
	margin-top: 36px;
	margin-bottom: 0.5em;
}

.littering-3 {
	font-size: 36px;
}

.littering-4 {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 38px;
}

.littering-5 {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 38px;
	text-align: center;
}

.littering-6 {
	margin-top: -29px;
}

.littering-7 {
	margin-left: 70px;
	margin-top: 52px;
}

.littering-8 {
	font-size: 18px;
	margin-bottom: 34px;
}

.littering-9 {
	font-size: 18px;
  	line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 700;
}

.littering-10 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 200px;
	width: auto;
}

.littering-10-text {
	font-size: 55px;
	font-weight: 700;
}

.google-map {
	width: 100%;
}

.filter-item {
  	margin: 0;
  	padding: 0;
  	border: none;
  	width: 260px;
}

.range-filter {
  	width: 260px;
  	margin-top: 49px;
}

.filter-item legend {
  	font-size: 18px;
  	line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 700;
}

.range-controls {
  	position: relative;
  	height: 41px;
  	margin-bottom: 15px;
  	padding-top: 39px;
  	padding-right: 20px;
 	padding-left: 20px; 
  	background-color: #f1f1f1; 
  	border-radius: 5px;
}

.range-controls .scale {
  	height: 2px;
  	background: #d7dcde;
}

.range-controls .bar {
  	width: 30%;
  	height: 2px;
  	background: #00ca74;
}

.range-controls .toggle {
  	position: absolute;
  	top: 31px;
  	left: 0; 
  	width: 4px;
  	height: 4px;
  	padding: 0;
  	border: 8px solid #ffffff;
  	background-color: #ababab;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
 	border-radius: 50%;
  	cursor: pointer;
}

.range-controls .toggle-min {
  	left: 50px;
}

.range-controls .toggle-max {
  	left: 110px;
}

.price-controls {
  	font-size: 0;
}

.price-controls label {
  	display: inline-block;
  	width: 50%;
  	vertical-align: top;
  	font-size: 16px;
 	text-transform: uppercase;
}

.price-controls input {
  	width: 60px;
  	padding: 8px 10px;
  	margin-left: 10px;
  	font-family: Roboto, Arial, sans-serif;
  	font-size: 16px;
  	text-align: center;
  	color: #283136;
  	border: none;
  	border-radius: 5px;
  	background: #f1f1f1;
}

.max-price {
  	text-align: right;
}

.visually-hidden {
	height: 160px;
	background-color: #eee;
	text-align: center;
	font-size: 55px;
	padding-top: 20px;
}

.choice-grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-choice-grid {
	margin-top: 42px;
}

.choice-grid-item {
	margin-bottom: 25px;
}

.choice-features {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.choice-features-item {
	margin-bottom: 18px;
}

.show-grid {
	background-color: #eeeeee;
	color: #000;
	width: 260px;
	height: 50px;
	margin-top: 38px;
	border-radius: 3px;

}

.show-grid:hover {
	background-color: #dfdfdf;
}

.show-grid:active {
	background-color: #d5d5d5;
}

.grid-features {
	display: flex;
	flex-direction: column;
}

.choice-grid {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.radiobox-1 {
	position: relative;
  	padding-left: 40px;
  	cursor: pointer;
  	color: #283136;
  	padding-top: 7px;
}

.radiobox-1:hover {
  	color: #4d4d4d;
}

.radiobox-1 input[type="radio"] + .checkbox-indicator-1 {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 23px;
  	height: 23px;
  	border-radius: 50%;
  	border: 5px solid #b8b8b8;
 
}

.radiobox-1 input[type="radio"]:hover + .checkbox-indicator-1 {
  	border-color: #4d4d4d;
}

.radiobox-1 input[type="radio"]:checked + .checkbox-indicator-1 {
  	border-color: #e5e5e5;
}

.radiobox-1 input[type="radio"]:checked + .checkbox-indicator-1::after {
  	content: "";
  	position: absolute;
  	top: 7px;
  	left: 7px;
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	background-color: #ededed;
}

.radiobox-1 input[type="radio"]:hover + .checkbox-indicator-1::after {
  	background-color: #4d4d4d;
}

.checkbox-1 {
  	position: relative;
  	padding-left: 40px;
 	padding-top: 5px;
  	color: #283136;
  	cursor: pointer;
}

.checkbox-1:hover {
  	color: #4d4d4d;
}

.checkbox-1 input[type="checkbox"] + .checkbox-indicator {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 23px;
  	height: 23px;
  	border: 2px solid #b8b8b8;
  	border-radius: 3px;
}

.checkbox-1 input[type="checkbox"]:hover + .checkbox-indicator {
  	border-color: #4d4d4d;
}

.checkbox-1 input[type="checkbox"]:checked + .checkbox-indicator {
  	border-color: #e5e5e5;
}

.checkbox-1 input[type="checkbox"]:checked + .checkbox-indicator::before {
  	content: "";
  	position: absolute;
  	top: 10px;
  	left: 4px;
  	z-index: 10;
  	width: 8px;
  	height: 5px;
  	background-color: #ededed;
}

.checkbox-1 input[type="checkbox"]:checked + .checkbox-indicator::after {
  	content: "";
  	position: absolute;
  	top: 5px;
  	left: 6px;
  	width: 25px;
  	height: 5px;
  	border: 1px solid #fff;
  	background-color: #ededed;
}

.checkbox-1 input[type="checkbox"]:checked + .checkbox-indicator::before {
  	transform: rotate(43deg);
}

.checkbox-1 input[type="checkbox"]:checked + .checkbox-indicator::after {
  	transform: rotate(-48deg);
}

.checkbox-1 input[type="checkbox"]:hover + .checkbox-indicator::before {
  	background-color: #4d4d4d;
}

.checkbox-1 input[type="checkbox"]:hover + .checkbox-indicator::after {
  	background-color: #4d4d4d;
}

.notification-main {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.notification-main:hover {
	color: #fb565a;
}

.notification-main:active {
	color: #b2b2b2;
}

.notification-main-main {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: #8a8a8a;
	margin-bottom: 0.1em;
}

.notification-main-main-2 {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	color: #8a8a8a;
	padding-bottom: 20px;
}

.notification-button {
	width: 200px;
	height: 50px;
	margin-left: 80px;
	border-radius: 3px;
}

.main-map {
	margin-top: 80px;
	height: 430px;
}

.main-map-1 {
	margin-top: 80px;
	height: 430px;
}

.notification-1 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}
.choice-1:hover .notification-1{
	display:block;
}

.notification-2 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}

.choice-2:hover .notification-2{
	display:block;
}

.notification-3 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}

.choice-3:hover .notification-3{
	display:block;
}

.notification-4 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}

.choice-4:hover .notification-4{
	display:block;
}

.notification-5 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}

.choice-5:hover .notification-5{
	display:block;
}

.notification-6 {
	position:absolute;
	bottom:0;
	right:0;
	display:none;
	width: 360px;
	height: 233px;
	background-color: #eeeeee;
}

.choice-6:hover .notification-6{
	display:block;
}

.main-setting {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-sort {
	display: flex;
}
.sort {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.setting {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 200px;
	padding-top: 3px;
}
.setting-item {
	display: flex;
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin-right: 25px;
	opacity: 0.2;
}

.setting-item:hover {
	opacity: 0.6;
}

.setting-item:active {
	opacity: 1;
}

.down-up {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-left: 40px;
	padding-top: 7px;
}

.setting-item-two {
	display: flex;
	margin-left: 20px;
}

.choice-selection-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container-main-main {
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

.choice-selection {
	max-width: 760px;
	margin-left: 60px;
}

.choice-1 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-2 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-3 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-4 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-5 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-6 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 40px;
}

.choice-selection-main img {
	margin-top: -6px;
}

.choice-1-item {
	opacity: 0.12;
}

.choice-1-item:hover {
	opacity: 1;
}

.down-up-icon {
	opacity: 0.2;
}

.down-up-icon:hover {
	opacity: 0.6;
}

.down-up-icon:active {
	opacity: 1;
}

.pagination {
	display: flex;
	list-style-type: none;
	justify-content: center;
}

.pagination .pagination-item {
	font: inherit;
	text-align: center;
	color: #fff;
	line-height: 50px;
	vertical-align: middle;
	background-color: #eeeeee;
	border: none;
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius: 3px;
}
.pagination :last-child {
	width: 260px;
	height: 50px;
}

.pagination .pagination-item:hover {
	background-color: #dfdfdf;
}

.pagination .pagination-item:active {
	background-color: #d5d5d5;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.modal-login {
	top: 360px;
	width: 667px;
	height: 410px;
	display: none;
	box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
	background-color: #fff;
}

.bar {
	margin-left: 20%;
	width: 30%;
}

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

@keyframes bounce {
0% {
	transform: translateY(-2000px);
  }

70% {
	transform: translateY(30px);
  }

90% {
	transform: translateY(-10px);
  }

100% {
	transform: translateY(0);
  }
}

@keyframes shake {
0%,
100% {
	transform: translateX(0);
  }

10%,
30%,
50%,
70%,
90% {
	transform: translateX(-10px);
  }

20%,
40%,
60%,
80% {
	transform: translateX(10px);
  }
}